MONGO_URI=mongo-db-uri
GOOGLE_CLIENT_ID=828415068706-mrm9rr1u1bgrd99kd747e6ta1cematop.apps.googleusercontent.com
JWT_SECRET=Jjwt-secret-key
BASE_URL=http://localhost:8080/
SMTP_USERNAME=smtp-username
SMTP_PASSWORD=smtp-password